@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");

:root {
  --blue: #3c6382;
  --dark-blue: #0a3d62;
}
#red {
  color: rgb(219, 27, 63);
}

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.3s cubic-bezier(0.38, 1.15, 0.7, 1.12);
}

*::selection {
  background: var(--dark-blue);
  color: #fff;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

section {
  min-height: 100vh;
  padding: 1rem 9%;
  padding-top: 8rem;
}

.heading {
  text-align: center;
  color: var(--dark-blue);
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: normal;
  padding: 1rem;
}

header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  padding: 2rem;
}

header .logo {
  font-size: 2.5rem;
  color: var(--dark-blue);
}

header .logo span {
  color: var(--blue);
}

header .navbar a {
  font-size: 1.7rem;
  margin-left: 0.7rem;
  padding: 0.5rem 2rem;
  border-radius: 0.5rem;
  color: var(--blue);
}

header .navbar a.active,
header .navbar a:hover {
  background: var(--blue);
  color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header.sticky {
  background: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

#menu {
  font-size: 3rem;
  color: var(--blue);
  cursor: pointer;
  display: none;
}

.home {
  background: url(https://imgs.search.brave.com/I4eQfq7EaLanQzqLpqHoXTtAQapWWfQcH5GJ-MTE3o8/rs:fit:1200:1192:1/g:ce/aHR0cHM6Ly93d3cu/Z2FubmV0dC1jZG4u/Y29tLy1tbS0vNzBi/NGNkNTliZTI5ZGY4/Njk3MzA4MTY1NzEx/OTQ4ZWQ2NDFjMGFk/ZC9jPTAtMTExLTIx/MTktMTMwMy9sb2Nh/bC8tL21lZGlhLzIw/MjAvMDQvMDgvVVNB/VE9EQVkvdXNhdHNw/b3J0cy9Nb3RsZXlG/b29sLVRNT1QtYWMz/OGE4NmItY29yb25h/dmlydXMtZ2xvYmUu/anBnP3dpZHRoPTIx/MTkmaGVpZ2h0PTEx/OTImZml0PWNyb3Am/Zm9ybWF0PXBqcGcm/YXV0bz13ZWJw) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.home .content {
  text-align: center;
  padding-top: 3rem;
}

.home .content .btn {
  display: inline-block;
  padding: 0.7rem 3rem;
  color: #fff;
  background: var(--blue);
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-top: 1rem;
  font-size: 1.7rem;
}

.home .content .btn:hover {
  background: var(--dark-blue);
}

.prevent .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(241, 252, 252);
}

.prevent .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
}

.prevent .box-container .box img {
  height: 12rem;
  padding: 1rem;
}

.prevent .box-container .box h3 {
  color: var(--blue);
  font-size: 2rem;
}

.prevent .box-container .box p {
  color: var(--dark-blue);
  font-size: 1.4rem;
  padding: 1rem;
}

.prevent .box-container .box:hover {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

.symptoms {
  background: url(images/symtem\ bg\ image.jfif) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.symptoms .column {
  display: flex;
  align-items: center;
  justify-content: center;
}

.symptoms .column .main-image img {
  width: 43vh;
}

.symptoms .column .box-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.symptoms .column .box-container .box {
  margin: 1rem;
  text-align: center;
}

.symptoms .column .box-container .box img {
  width: 20rem;
  padding: 1rem;
}

.symptoms .column .box-container .box h3 {
  font-size: 2rem;
  color: var(--blue);
}

.precautions .column {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.precautions .column .box-container {
  margin: 1.5rem;
  flex: 1 1 50rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
}

.precautions .column .box-container .title {
  padding: 1.5rem 0.5rem;
  text-align: center;
  font-size: 2.5rem;
  background: rgb(144, 238, 147);
  color: #fff;
}

.precautions .column .box-container:last-child .title {
  background: #ff3300;
}

.precautions .column .box-container .box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.precautions .column .box-container .box img {
  width: 15rem;
  padding: 1rem;
}

.precautions .column .box-container .box h3 {
  font-size: 2rem;
  color: var(--blue);
}

.precautions .column .box-container .box p {
  font-size: 1.2rem;
  color: var(--dark-blue);
  padding: 1rem 0;
}

.doctor {
  background: url(images/doctors\ bg\ image.jpeg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.doctor .box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.doctor .box-container .box {
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1.5rem;
  text-align: center;
  background: #fff;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  width: 33rem;
}

.doctor .box-container .box img {
  margin: 1rem;
  border-radius: 50%;
  height: 20rem;
  width: 20rem;
  object-fit: cover;
  background: var(--blue);
}

.doctor .box-container .box h3 {
  font-size: 2rem;
  color: var(--blue);
}

.doctor .box-container .box span {
  font-size: 1.5rem;
  color: var(--dark-blue);
}

.doctor .box-container .box .share {
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin-top: 1rem;
}

.doctor .box-container .box .share a {
  border-radius: 50%;
  height: 4.5rem;
  width: 4.5rem;
  line-height: 4.5rem;
  font-size: 2rem;
  margin: 0.4rem;
  background: #eee;
  color: var(--blue);
}

.doctor .box-container .box .share a:hover {
  background: var(--blue);
  color: #fff;
  transform: rotate(360deg);
}

.hand-wash .column {
  display: flex;
  justify-content: center;
}

.hand-wash .column .main-image img {
  width: 25vw;
}

.hand-wash .column .box-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.hand-wash .column .box-container .box {
  text-align: center;
  margin: 2rem;
}

.hand-wash .column .box-container .box img {
  width: 17rem;
  height: 17rem;
  padding: 1rem;
}

.hand-wash .column .box-container .box h3 {
  font-size: 2rem;
  color: var(--blue);
}

.container {
  background-color: #fafafa;
  margin: 100px;
  box-shadow: 10px 15px 20px rgba(0, 0, 0, 0.1);
  display: grid;
  grid-template-columns: 40% 60%;
}
.container-time {
  background-color: rgba(245, 168, 168, 0.95);
  padding: 50px;
  outline: 3px dashed #d6a1f0;
  outline-offset: -30px;
  text-align: center;
}
.heading {
  font-size: 35px;
  text-transform: uppercase;
}

.heading-days {
  color: #998100;
  font-size: 30px;
}

.heading-phone {
  font-size: 20px;
  color: red;
}
.container-form {
  padding: 20px 0;
  margin: 0 auto;
  color: #000;
}
form {
  display: grid;
  grid-row-gap: 20px;
}
form p {
  font-weight: 600;
}
.form-field {
  display: flex;
  justify-content: space-between;
}

input,
select {
  padding: 10px 15px;
}
.btn {
  background-color: rgba(0, 0, 0, 0.95);
  color: #fff;
  padding: 10px 20px;
  border: none;
  font-size: 18px;
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -ms-border-radius: 100px;
  -o-border-radius: 100px;
  box-shadow: 7px 10px 12px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}

.btn:hover {
  transform: scale(1.03);
  -webkit-transform: scale(1.03);
  -moz-transform: scale(1.03);
  -ms-transform: scale(1.03);
  -o-transform: scale(1.03);
  box-shadow: 10px 12px 15px rgba(0, 0, 0, 0.3);
}

.footer {
  background: url(images/footer\ bg\ image.webp) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.footer .box-container {
  display: flex;
  flex-wrap: wrap;
}

.footer .box-container .box {
  flex: 1 1 25rem;
  margin: 2rem;
}

.footer .box-container .box h3 {
  font-size: 2.5rem;
  color: var(--blue);
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.5rem;
  color: var(--dark-blue);
  padding: 0.5rem 0;
}

.footer .box-container .box a {
  font-size: 1.5rem;
  color: var(--dark-blue);
  padding: 0.5rem 0;
  display: block;
}

.footer a:hover {
  text-decoration: underline;
}

.footer .credit {
  font-size: 2rem;
  font-weight: normal;
  text-align: center;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  padding: 2.5rem 1rem;
  color: var(--dark-blue);
}

.footer .credit a {
  color: var(--blue);
}

.scroll-top {
  position: fixed;
  bottom: 7.5rem;
  right: 1.5rem;
  z-index: 1000;
}

.scroll-top img {
  width: 8rem;
  animation: float 3s linear infinite;
}

@keyframes float {
  100%,
  0% {
    transform: translateY(0rem);
  }

  50% {
    transform: translateY(-3rem);
  }
}

.contents {
  background-image: url(https://images.pexels.com/photos/844297/pexels-photo-844297.jpeg);
  background-size: auto;
  background-position: center;
  background-attachment: fixed;
}

.botsec {
  margin-left: 100px;
}

/* media queries  */

@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  section {
    padding: 1rem 3%;
    padding-top: 8rem;
  }

  #menu {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 2rem;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
  }

  header .navbar.nav-toggle {
    transform: scaleY(1);
    opacity: 1;
  }

  header .navbar a {
    display: block;
    margin: 1.5rem 0;
    font-size: 2rem;
  }

  .fa-times {
    transform: rotate(180deg);
  }

  .symptoms .column .main-image img {
    display: none;
  }

  .hand-wash .column .main-image img {
    display: none;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 50%;
  }

  .home .content h1 {
    font-size: 4rem;
  }

  .home .content h3 {
    font-size: 3.5rem;
  }
}

@media (max-width: 450px) {
  .home .content h1 {
    font-size: 3.5rem;
  }

  .home .content h3 {
    font-size: 2.5rem;
  }

  .symptoms .column .box-container .box img {
    width: 14rem;
  }

  .precautions .column .box-container .box {
    flex-flow: column;
    text-align: center;
  }

  .doctor .box-container .box {
    width: 100%;
  }
}





